.banner {
  background-image: url("https://a.cdn-hotels.com/gdcs/production130/d916/313e6bab-c4d1-4a33-a454-f3c0d00c0a2b.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80rem;
  background: rgb(0 0 0 / 40%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%; 
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto; /* Maintain the aspect ratio of the logo */
}


.signin_container {
  margin-top: 60px;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  height: auto; 
  width: 35%; 
  background-color: rgb(0 0 0 / 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin_input {
  background-color: rgb(74, 73, 73);
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    flex-grow: 1;
    height: 25px;
    width: 60%;
    margin: 10px;
  
}
.signin_header h1{
  font-size: 30px;
}

.submit_btn,
.gmail_btn,
.facebook_btn {
  padding: 10px;
  flex-grow: 1;
  color: rgb(18, 16, 16);
  border-radius: 5px;
  height: 50px;
  width: 60%;
  margin: 15px 0;
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 10px;
  overflow: hidden;
  align-items: center;
}

.submit_btn {
  width: 40%;
  height: 40%;
  font-size: 75%;
  background-color: blue;
  color: white;
}

.gmail_btn {
  background-color: red;
}
.facebook_btn{
  background-color: blue;
}

.google_logo,
.facebook_logo {
  height: 50%;
  width: 50%px;
  margin-left: 10px;
  
}

.signin_footer {
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
  color: #8c8c8c;
}

.signin_footer a {
  font-size: 16px;
  color: rgb(200, 224, 21);
  text-decoration: none;
}

.signin_footer a:hover {
  color: white;
  font-weight: bolder;
}

.signin_footer1 {
  font-size: 14px;
  color: #8c8c8c;
}

.signin_header {
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
  color: whitesmoke;
  font-size: 2rem; /* Adjust font size */
}


@media only screen and (max-width: 978px) {
  .signin_container {
    width: 40%;
  }
  .signin_header h1 {
    font-size: 20px;
  }

}

@media only screen and (max-width: 600px) {
  .signin_container {
    width: 90%;
  }
}